# OS
.DS_Store
Thumbs.db

# Rust 编译产物
**/target/

# Node
**/node_modules/

# IDE
.idea/
.vscode/
*.swp

# Tauri 本地打包
**/gen/android/build/
**/gen/android/app/build/
**/gen/ios/
**/mdapp.app/

# 环境
.env
*.local
